.App {
}

.AddTaskForm {
  margin: 20px;
}
input[type="checkbox"] {
  height: 2.5rem;
  width: 2.5rem;
}
 
.App-logo {
  height: 5rem;
}
.Logo-header{
  display: flex;
  color: #eae2b7;
}

.Task-Card {
  border-style: double;
  border-radius: 1rem;
  height: 10rem;
  max-width: 20rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tasks-cards-div {
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  flex-wrap: wrap;
  background-color: #eae2b7;
}

.Task-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 50px;
  min-width: 5rem;
  height: 3rem;
  font-size: 18px;
  background-color: #fd0;
  font-weight: 500;
  color: #222;
  margin: 0.2rem;
}
          
.Task-button:not(:disabled):hover,
.Task-button:not(:disabled):focus {
  outline: 0;
  background-color: rgb(221, 195, 27);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.Task-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.Tasks-button-div {
  background-color: #003049;
  color: #eae2b7;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  display: flex;

}
.ListOfTaskList {
  display: flex;
  justify-content: center;
}
.TaskList {
  width: 100vh;
}
.App-header {
  max-height: 10rem;
  display: flex;
  justify-content: center;
  font-size: calc(1rem);
}

