.App {
  text-align: center;
  background: linear-gradient(to top, #e8d530, #cbc10c, #3b4008);
  margin: 1vh;
  padding: 1vh;
}

input[type="checkbox"] {
  height: 2.5rem;
  width: 2.5rem;
}
 
.App-logo {
  height: 5rem;
}
.Logo-header{
  margin: 1rem;
  display: flex;
  color: #000;
}
.Task-Card {
  padding: 0.5rem;
  border-style: double;
  border-color: #b9a80f;
  background-color: #f3e037d1;
  border-radius: 1rem;
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tasks-cards-div {
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  border-color: #1b2222;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  background-color: #e6e3d5;
  height: 16.5rem;
}


.Task-button {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  transition: 200ms;
  font-size: 16px;

}
          
.Task-button:not(:disabled):hover,
.Task-button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.Task-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
.Tasks-button-div {
  background-color: #d8be0f;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  display: flex;

}

.App-header {
  background-color: #ae9f3d;
  max-height: 10rem;
  display: flex;
  align-items: center;
  font-size: calc(1rem);
  color: white;
}

.App-link {
  color: #61dafb;
}
